<% include ../partials/header %>

<h1>404 ERROR! PAGE NOT FOUND!</h1>

<img src="http://img2.wikia.nocookie.net/__cb20140830091109/r2d/images/9/97/Sad_face-3.jpg" alt="404 Error">

<br>

<h1><a href="/posts"><strong>home</strong></a></h1>

<% include ../partials/footer %>